html {
  box-sizing: border-box;
}

.content {
  background: url(http://goratchet.com/assets/img/slide-2.jpg);
  background-size: cover;
}

textarea {
  padding-top: 5px !important;
}

.pushed-text {
  color: $color-white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.60);
  text-align: center;
}
